<!-- This file has a Bootstrap 5 style footer -->
<!-- background dark, padding top and bottom of 3, margin-top auto -->
<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; YelpCamp 2021</span>
    </div>
</footer>